<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>display product</title>
</head>
<body>
<form>
<div class="card">
                <div class="card-body">
                  <h4 class="card-title">Contact details</h4>
                  <p class="card-description">
                    Add class <code>.table-dark</code>
                  </p>
                  <div class="table-responsive pt-3">
                    <table class="table table-dark">
                      <thead>
                        <tr>
                          <th>
                            FIRST NAME
                          </th>
                          <th>
                            LAST NAME
                          </th>
                          <th>
                           EMAIL
                          </th>
                          <th>
                           PHONE
                          </th>

                        </tr>
                      </thead>
                      <tbody>
                      {% for i in data %}
                        <tr>
                          <td>
                              {{i.firstname}}

                          </td>
                          <td>
                           {{i.lastname}}
                          </td>
                          <td>
                            {{i.email}}
                          </td>
                          <td>
                            {{i.phone}}
                          </td>


                            <td>
                                <form action="{% url 'delete_contact' dataid=i.id %}">
                                    <button type="submit" class="btn btn-primary mr-2">Delete</button>
                                </form>
                            </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
  </form>

</body>
</html>
{% endblock %}