<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit page</title>
</head>
<body>
 <form method="post" action="{% url 'update_category' dataid=cat.id %}" enctype="multipart/form-data">
     {% csrf_token %}
                    <div class="form-group">
                      <label for="exampleInputName1">Category Name</label>
                      <input type="text" class="form-control" id="exampleInputName1" placeholder="Category Name" name="cname" value="{{cat.cname}}">
                    </div>
<!--                    <div class="form-group">-->
<!--                      <label for="exampleInputEmail3">Email address</label>-->
<!--                      <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                      <label for="exampleInputPassword4">Password</label>-->
<!--                      <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                      <label for="exampleSelectGender">Gender</label>-->
<!--                        <select class="form-control" id="exampleSelectGender">-->
<!--                          <option>Male</option>-->
<!--                          <option>Female</option>-->
<!--                        </select>-->
<!--                      </div>-->
<!--                    <div class="form-group">-->
<!--                      <label>File upload</label>-->
                      <input type="file" name="cimg">
     <img src="{{cat.cimg.url}}" width="100px" height="100px">



<!--                      <div class="input-group col-xs-12">-->
<!--                        <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Image">-->
<!--                        <span class="input-group-append">-->
<!--                          <button class="file-upload-browse btn btn-primary" type="button">Upload</button><br><br>-->
<!--                        </span>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                      <label for="exampleInputCity1">City</label>-->
<!--                      <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location">-->
<!--                    </div>-->
                    <div class="form-group">
                      <label for="exampleTextarea1">Description</label>
                      <textarea class="form-control" id="exampleTextarea1" rows="4" name="des" >{{cat.des}}</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>

                  </form>


</body>
</html>
{% endblock %}